---

---

<div class="content-panel">
  <div class="sl-container"><slot /></div>
</div>

<style>
  .sl-container {
    > h1 {
      margin-top: 40px;
    }
  }

  .sl-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
</style>
