---
import { PAGE_TITLE_ID } from './TableOfContent/constants'
---

{
  !Astro.props.entry.data.hideTitleOnPage && (
    <h1 id={PAGE_TITLE_ID}>{Astro.props.entry.data.title}</h1>
  )
}
{
  (Astro.props.entry.data.licence || Astro.props.entry.data.distribution) && (
    <dl class="tiers-distribution-list">
      <div>
        <>
          <dt>Licence:</dt>
          <dd>{Astro.props.entry.data.licence}</dd>
        </>
      </div>
      <div>
        <>
          <dt>Distribution:</dt>
          <dd>{Astro.props.entry.data.distribution}</dd>
        </>
      </div>
    </dl>
  )
}

<style>
  .tiers-distribution-list {
    margin: 0;
    border-left: 1px solid var(--hover-color);
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    > div {
      display: inline-flex;
      font-family: 'Inter', sans-serif;
      font-weight: 500;
      font-size: 0.75rem;
      line-height: 1.4;
      letter-spacing: -0.02em;
      > dt {
        color: var(--secondary-text-color);
      }
      > dd {
        color: var(--primary-text-color);
        margin-left: 1ch;
      }
    }
  }
  h1 {
    margin-bottom: unset !important;
  }
</style>
