# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @daytonaio/daytona-oss team members will be requested for
# review when someone opens a pull request.
* @daytonaio/daytona-oss


# Owners of all documentation
*.txt       @daytonaio/operations
*.md        @daytonaio/operations
COPYRIGHT   @daytonaio/operations
LICENSE     @daytonaio/operations
NOTICE      @daytonaio/operations
