.devcontainer
.github
.husky
.vscode
.nx
examples
functions
images
node_modules
.env.local
dist
!dist/libs/computer-use-amd64
docker
.tmp
libs/sdk-python
libs/sdk-typescript
libs/api-client-python
libs/api-client-python-async