# Automatically activate the Nix dev shell when entering this directory.
# Requires: nix + direnv + nix-direnv
#
# Install nix-direnv: https://github.com/nix-community/nix-direnv
#
# To use a specific shell instead of the default:
#   echo 'use flake .#go' > .envrc.local
#
if [ -f .envrc.local ]; then
  source .envrc.local
else
  use flake
fi
