apps/runner/pkg/api/docs/** linguist-generated=true
apps/daemon/pkg/toolbox/docs/** linguist-generated=true
libs/api-client/** linguist-generated=true
libs/api-client-go/** linguist-generated=true
libs/api-client-python/** linguist-generated=true
libs/api-client-python-async/** linguist-generated=true
libs/api-client-ruby/** linguist-generated=true
libs/runner-api-client/** linguist-generated=true
libs/toolbox-api-client/** linguist-generated=true
libs/toolbox-api-client-go/** linguist-generated=true
libs/toolbox-api-client-python/** linguist-generated=true
libs/toolbox-api-client-python-async/** linguist-generated=true
libs/toolbox-api-client-ruby/** linguist-generated=true
