=begin
#Daytona Daemon API

#Daytona Daemon API

The version of the OpenAPI document: v0.0.0-dev

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module DaytonaToolboxApiClient
  class PortApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get active ports
    # Get a list of all currently active ports
    # @param [Hash] opts the optional parameters
    # @return [PortList]
    def get_ports(opts = {})
      data, _status_code, _headers = get_ports_with_http_info(opts)
      data
    end

    # Get active ports
    # Get a list of all currently active ports
    # @param [Hash] opts the optional parameters
    # @return [Array<(PortList, Integer, Hash)>] PortList data, response status code and response headers
    def get_ports_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PortApi.get_ports ...'
      end
      # resource path
      local_var_path = '/port'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PortList'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PortApi.get_ports",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PortApi#get_ports\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check if port is in use
    # Check if a specific port is currently in use
    # @param port [Integer] Port number (3000-9999)
    # @param [Hash] opts the optional parameters
    # @return [IsPortInUseResponse]
    def is_port_in_use(port, opts = {})
      data, _status_code, _headers = is_port_in_use_with_http_info(port, opts)
      data
    end

    # Check if port is in use
    # Check if a specific port is currently in use
    # @param port [Integer] Port number (3000-9999)
    # @param [Hash] opts the optional parameters
    # @return [Array<(IsPortInUseResponse, Integer, Hash)>] IsPortInUseResponse data, response status code and response headers
    def is_port_in_use_with_http_info(port, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PortApi.is_port_in_use ...'
      end
      # verify the required parameter 'port' is set
      if @api_client.config.client_side_validation && port.nil?
        fail ArgumentError, "Missing the required parameter 'port' when calling PortApi.is_port_in_use"
      end
      # resource path
      local_var_path = '/port/{port}/in-use'.sub('{' + 'port' + '}', CGI.escape(port.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IsPortInUseResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PortApi.is_port_in_use",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PortApi#is_port_in_use\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
