body {
  --white: #fff;
  --bg-color: #0a0a0a;
  --primary-text-color: #fff;
  --secondary-text-color: #a2a2a2;
  --accent-text-color: #d0cfcf;
  --hover-color: #2ecc71;
  --highlight-color: #007fff;
  --border-color: #414141;
  --nav-color: #828282;
  --border: 1px solid var(--border-color);
  --gradient-color: linear-gradient(180deg, #007fff, #8558de);
  --gradient-hover-color: linear-gradient(90deg, #007fff 0%, #8558de 100%);
  --active-state-color: #dedede;
  --border-extra: #585858;
  --block-bg-color: #161616;
  --secondary-btn-color: #08ae78;
  --active-border: 1px solid #525252;
  --img-desc-text: #686868;
  --secondary-hover-color: #88dfa2;
  --blue-code-text: #3498db;
  --orange-code-text: #e67e22;
  --yellow-code-text: #f1c40f;
  --purple-code-text: #8558de;
  --img-border-color: #777777;
  --blue-link: #59acff;
  --system-error: #e74c3c;
  --cta-surface-neutral-primary: #252525;
}

html[data-theme='light'] body {
  --bg-color: #fff;
  --border-color: #dedede;
  --border-extra: #dedede;
  --nav-color: #828282;
  --primary-text-color: #121212;
  --secondary-text-color: #686868;
  --border: 1px solid var(--border-color);
  --block-bg-color: #f7f7f7;
  --active-border: 1px solid var(--border-color);
  --darken-secondary-text-color: #424242;
  --blue-link: #005fbe;
  --cta-surface-neutral-primary: #dedede;
  --hover-color: #08ae78;
  --secondary-hover-color: #08ae78;
}
