/*
Daytona

Daytona AI platform API Docs

API version: 1.0
Contact: support@daytona.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package apiclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

type RunnerServiceAPI interface {

	/*
		RunnerHealthcheck Runner healthcheck

		Endpoint for version 2 runners to send healthcheck and metrics. Updates lastChecked timestamp and runner metrics.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return RunnerServiceAPIRunnerHealthcheckRequest
	*/
	RunnerHealthcheck(ctx context.Context) RunnerServiceAPIRunnerHealthcheckRequest

	// RunnerHealthcheckExecute executes the request
	RunnerHealthcheckExecute(r RunnerServiceAPIRunnerHealthcheckRequest) (*http.Response, error)
}

// RunnerServiceAPIService RunnerServiceAPI service
type RunnerServiceAPIService service

type RunnerServiceAPIRunnerHealthcheckRequest struct {
	ctx               context.Context
	ApiService        RunnerServiceAPI
	runnerHealthcheck *RunnerHealthcheck
}

func (r RunnerServiceAPIRunnerHealthcheckRequest) RunnerHealthcheck(runnerHealthcheck RunnerHealthcheck) RunnerServiceAPIRunnerHealthcheckRequest {
	r.runnerHealthcheck = &runnerHealthcheck
	return r
}

func (r RunnerServiceAPIRunnerHealthcheckRequest) Execute() (*http.Response, error) {
	return r.ApiService.RunnerHealthcheckExecute(r)
}

/*
RunnerHealthcheck Runner healthcheck

Endpoint for version 2 runners to send healthcheck and metrics. Updates lastChecked timestamp and runner metrics.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return RunnerServiceAPIRunnerHealthcheckRequest
*/
func (a *RunnerServiceAPIService) RunnerHealthcheck(ctx context.Context) RunnerServiceAPIRunnerHealthcheckRequest {
	return RunnerServiceAPIRunnerHealthcheckRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *RunnerServiceAPIService) RunnerHealthcheckExecute(r RunnerServiceAPIRunnerHealthcheckRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RunnerServiceAPIService.RunnerHealthcheck")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/runner-service/healthcheck"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.runnerHealthcheck == nil {
		return nil, reportError("runnerHealthcheck is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.runnerHealthcheck
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
