/*
Daytona

Daytona AI platform API Docs

API version: 1.0
Contact: support@daytona.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package apiclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type CheckpointsAPI interface {

	/*
	DeleteCheckpoint Delete a checkpoint

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param checkpointId Checkpoint ID
	@return CheckpointsAPIDeleteCheckpointRequest
	*/
	DeleteCheckpoint(ctx context.Context, checkpointId string) CheckpointsAPIDeleteCheckpointRequest

	// DeleteCheckpointExecute executes the request
	DeleteCheckpointExecute(r CheckpointsAPIDeleteCheckpointRequest) (*http.Response, error)

	/*
	GetCheckpoint Get a checkpoint

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param checkpointId Checkpoint ID
	@return CheckpointsAPIGetCheckpointRequest
	*/
	GetCheckpoint(ctx context.Context, checkpointId string) CheckpointsAPIGetCheckpointRequest

	// GetCheckpointExecute executes the request
	//  @return CheckpointDto
	GetCheckpointExecute(r CheckpointsAPIGetCheckpointRequest) (*CheckpointDto, *http.Response, error)

	/*
	ListCheckpoints List checkpoints

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CheckpointsAPIListCheckpointsRequest
	*/
	ListCheckpoints(ctx context.Context) CheckpointsAPIListCheckpointsRequest

	// ListCheckpointsExecute executes the request
	//  @return PaginatedCheckpoints
	ListCheckpointsExecute(r CheckpointsAPIListCheckpointsRequest) (*PaginatedCheckpoints, *http.Response, error)

	/*
	PromoteCheckpointToSnapshot Promote a checkpoint to a snapshot

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param checkpointId Checkpoint ID
	@return CheckpointsAPIPromoteCheckpointToSnapshotRequest
	*/
	PromoteCheckpointToSnapshot(ctx context.Context, checkpointId string) CheckpointsAPIPromoteCheckpointToSnapshotRequest

	// PromoteCheckpointToSnapshotExecute executes the request
	//  @return SnapshotDto
	PromoteCheckpointToSnapshotExecute(r CheckpointsAPIPromoteCheckpointToSnapshotRequest) (*SnapshotDto, *http.Response, error)
}

// CheckpointsAPIService CheckpointsAPI service
type CheckpointsAPIService service

type CheckpointsAPIDeleteCheckpointRequest struct {
	ctx context.Context
	ApiService CheckpointsAPI
	checkpointId string
	xDaytonaOrganizationID *string
}

// Use with JWT to specify the organization ID
func (r CheckpointsAPIDeleteCheckpointRequest) XDaytonaOrganizationID(xDaytonaOrganizationID string) CheckpointsAPIDeleteCheckpointRequest {
	r.xDaytonaOrganizationID = &xDaytonaOrganizationID
	return r
}

func (r CheckpointsAPIDeleteCheckpointRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteCheckpointExecute(r)
}

/*
DeleteCheckpoint Delete a checkpoint

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param checkpointId Checkpoint ID
 @return CheckpointsAPIDeleteCheckpointRequest
*/
func (a *CheckpointsAPIService) DeleteCheckpoint(ctx context.Context, checkpointId string) CheckpointsAPIDeleteCheckpointRequest {
	return CheckpointsAPIDeleteCheckpointRequest{
		ApiService: a,
		ctx: ctx,
		checkpointId: checkpointId,
	}
}

// Execute executes the request
func (a *CheckpointsAPIService) DeleteCheckpointExecute(r CheckpointsAPIDeleteCheckpointRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CheckpointsAPIService.DeleteCheckpoint")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/checkpoints/{checkpointId}"
	localVarPath = strings.Replace(localVarPath, "{"+"checkpointId"+"}", url.PathEscape(parameterValueToString(r.checkpointId, "checkpointId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xDaytonaOrganizationID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Daytona-Organization-ID", r.xDaytonaOrganizationID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CheckpointsAPIGetCheckpointRequest struct {
	ctx context.Context
	ApiService CheckpointsAPI
	checkpointId string
	xDaytonaOrganizationID *string
}

// Use with JWT to specify the organization ID
func (r CheckpointsAPIGetCheckpointRequest) XDaytonaOrganizationID(xDaytonaOrganizationID string) CheckpointsAPIGetCheckpointRequest {
	r.xDaytonaOrganizationID = &xDaytonaOrganizationID
	return r
}

func (r CheckpointsAPIGetCheckpointRequest) Execute() (*CheckpointDto, *http.Response, error) {
	return r.ApiService.GetCheckpointExecute(r)
}

/*
GetCheckpoint Get a checkpoint

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param checkpointId Checkpoint ID
 @return CheckpointsAPIGetCheckpointRequest
*/
func (a *CheckpointsAPIService) GetCheckpoint(ctx context.Context, checkpointId string) CheckpointsAPIGetCheckpointRequest {
	return CheckpointsAPIGetCheckpointRequest{
		ApiService: a,
		ctx: ctx,
		checkpointId: checkpointId,
	}
}

// Execute executes the request
//  @return CheckpointDto
func (a *CheckpointsAPIService) GetCheckpointExecute(r CheckpointsAPIGetCheckpointRequest) (*CheckpointDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CheckpointDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CheckpointsAPIService.GetCheckpoint")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/checkpoints/{checkpointId}"
	localVarPath = strings.Replace(localVarPath, "{"+"checkpointId"+"}", url.PathEscape(parameterValueToString(r.checkpointId, "checkpointId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xDaytonaOrganizationID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Daytona-Organization-ID", r.xDaytonaOrganizationID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CheckpointsAPIListCheckpointsRequest struct {
	ctx context.Context
	ApiService CheckpointsAPI
	xDaytonaOrganizationID *string
	page *float32
	limit *float32
	sandboxId *string
	sort *string
	order *string
}

// Use with JWT to specify the organization ID
func (r CheckpointsAPIListCheckpointsRequest) XDaytonaOrganizationID(xDaytonaOrganizationID string) CheckpointsAPIListCheckpointsRequest {
	r.xDaytonaOrganizationID = &xDaytonaOrganizationID
	return r
}

// Page number of the results
func (r CheckpointsAPIListCheckpointsRequest) Page(page float32) CheckpointsAPIListCheckpointsRequest {
	r.page = &page
	return r
}

// Number of results per page
func (r CheckpointsAPIListCheckpointsRequest) Limit(limit float32) CheckpointsAPIListCheckpointsRequest {
	r.limit = &limit
	return r
}

// Filter by sandbox ID
func (r CheckpointsAPIListCheckpointsRequest) SandboxId(sandboxId string) CheckpointsAPIListCheckpointsRequest {
	r.sandboxId = &sandboxId
	return r
}

// Field to sort by
func (r CheckpointsAPIListCheckpointsRequest) Sort(sort string) CheckpointsAPIListCheckpointsRequest {
	r.sort = &sort
	return r
}

// Direction to sort by
func (r CheckpointsAPIListCheckpointsRequest) Order(order string) CheckpointsAPIListCheckpointsRequest {
	r.order = &order
	return r
}

func (r CheckpointsAPIListCheckpointsRequest) Execute() (*PaginatedCheckpoints, *http.Response, error) {
	return r.ApiService.ListCheckpointsExecute(r)
}

/*
ListCheckpoints List checkpoints

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return CheckpointsAPIListCheckpointsRequest
*/
func (a *CheckpointsAPIService) ListCheckpoints(ctx context.Context) CheckpointsAPIListCheckpointsRequest {
	return CheckpointsAPIListCheckpointsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedCheckpoints
func (a *CheckpointsAPIService) ListCheckpointsExecute(r CheckpointsAPIListCheckpointsRequest) (*PaginatedCheckpoints, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedCheckpoints
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CheckpointsAPIService.ListCheckpoints")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/checkpoints"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue float32 = 1
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue float32 = 100
		r.limit = &defaultValue
	}
	if r.sandboxId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sandboxId", r.sandboxId, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	} else {
		var defaultValue string = "createdAt"
		r.sort = &defaultValue
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	} else {
		var defaultValue string = "desc"
		r.order = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xDaytonaOrganizationID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Daytona-Organization-ID", r.xDaytonaOrganizationID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CheckpointsAPIPromoteCheckpointToSnapshotRequest struct {
	ctx context.Context
	ApiService CheckpointsAPI
	checkpointId string
	createSnapshotFromCheckpoint *CreateSnapshotFromCheckpoint
	xDaytonaOrganizationID *string
}

func (r CheckpointsAPIPromoteCheckpointToSnapshotRequest) CreateSnapshotFromCheckpoint(createSnapshotFromCheckpoint CreateSnapshotFromCheckpoint) CheckpointsAPIPromoteCheckpointToSnapshotRequest {
	r.createSnapshotFromCheckpoint = &createSnapshotFromCheckpoint
	return r
}

// Use with JWT to specify the organization ID
func (r CheckpointsAPIPromoteCheckpointToSnapshotRequest) XDaytonaOrganizationID(xDaytonaOrganizationID string) CheckpointsAPIPromoteCheckpointToSnapshotRequest {
	r.xDaytonaOrganizationID = &xDaytonaOrganizationID
	return r
}

func (r CheckpointsAPIPromoteCheckpointToSnapshotRequest) Execute() (*SnapshotDto, *http.Response, error) {
	return r.ApiService.PromoteCheckpointToSnapshotExecute(r)
}

/*
PromoteCheckpointToSnapshot Promote a checkpoint to a snapshot

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param checkpointId Checkpoint ID
 @return CheckpointsAPIPromoteCheckpointToSnapshotRequest
*/
func (a *CheckpointsAPIService) PromoteCheckpointToSnapshot(ctx context.Context, checkpointId string) CheckpointsAPIPromoteCheckpointToSnapshotRequest {
	return CheckpointsAPIPromoteCheckpointToSnapshotRequest{
		ApiService: a,
		ctx: ctx,
		checkpointId: checkpointId,
	}
}

// Execute executes the request
//  @return SnapshotDto
func (a *CheckpointsAPIService) PromoteCheckpointToSnapshotExecute(r CheckpointsAPIPromoteCheckpointToSnapshotRequest) (*SnapshotDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SnapshotDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CheckpointsAPIService.PromoteCheckpointToSnapshot")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/checkpoints/{checkpointId}/promote-to-snapshot"
	localVarPath = strings.Replace(localVarPath, "{"+"checkpointId"+"}", url.PathEscape(parameterValueToString(r.checkpointId, "checkpointId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createSnapshotFromCheckpoint == nil {
		return localVarReturnValue, nil, reportError("createSnapshotFromCheckpoint is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xDaytonaOrganizationID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Daytona-Organization-ID", r.xDaytonaOrganizationID, "simple", "")
	}
	// body params
	localVarPostBody = r.createSnapshotFromCheckpoint
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
