Package: daytona-runner
Version: ${VERSION}
Section: utils
Priority: optional
Architecture: amd64
Maintainer: Daytona <support@daytona.io>
Description: Daytona Runner
 The Daytona Runner manages execution of jobs and sandboxes
 for the Daytona development environment platform.
Homepage: https://github.com/daytonaio/daytona
