@import 'tailwindcss' source('./');
@import 'tw-animate-css';
@plugin "tailwind-scrollbar";

@custom-variant dark (&:is(.dark *));
@custom-variant aria-invalid (&[aria-invalid="true"]);

@theme inline {
  --breakpoint-xxs: 360px;
  --breakpoint-xs: 480px;

  --text-3\.5xl: 2rem;
  --text-3\.5xl--line-height: 2.375rem;

  --spacing: 0.25rem;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-background: var(--destructive-background);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive-separator: var(--destructive-separator);

  --color-warning: var(--warning);
  --color-warning-background: var(--warning-background);
  --color-warning-foreground: var(--warning-foreground);
  --color-warning-separator: var(--warning-separator);

  --color-success: var(--success);
  --color-success-background: var(--success-background);
  --color-success-foreground: var(--success-foreground);
  --color-success-separator: var(--success-separator);

  --color-info: var(--info);
  --color-info-background: var(--info-background);
  --color-info-foreground: var(--info-foreground);
  --color-info-separator: var(--info-separator);

  --color-table-header: var(--table-header);
  --color-table-cell: var(--table-cell);
  --color-table-cell-hover: var(--table-cell-hover);
  --color-table-cell-active: var(--table-cell-active);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-chart-6: var(--chart-6);
  --color-chart-7: var(--chart-7);

  --color-sidebar: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-code-background: var(--code-background);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

:root {
  --background: oklch(0.9886 0 0);
  --foreground: oklch(0.1445 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1445 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1445 0 0);
  --primary: oklch(0.2044 0 0);
  --primary-foreground: oklch(0.9848 0 0);
  --secondary: oklch(0.9703 0 0);
  --secondary-foreground: oklch(0.2044 0 0);
  --muted: oklch(0.9619 0 0);
  --muted-foreground: oklch(0.5555 0 0);
  --accent: oklch(0.9466 0 0);
  --accent-foreground: oklch(0.2044 0 0);

  --border: oklch(0.9219 0 0);
  --input: oklch(0.9219 0 0);
  --ring: oklch(0.1445 0 0);

  --chart-1: oklch(0.623 0.188 259.815);
  --chart-2: oklch(0.7729 0.1535 163.221);
  --chart-3: oklch(0.6056 0.2189 292.714);
  --chart-4: oklch(0.7686 0.1647 70.078);
  --chart-5: oklch(0.551 0.0234 264.364);
  --chart-6: oklch(0.7149 0.1258 215.227);
  --chart-7: oklch(0.6559 0.2118 354.314);

  --radius: 0.5rem;

  --info-background: oklch(0.9708 0.0127 259.945);
  --info: oklch(0.5449 0.2154 262.741);
  --info-foreground: oklch(0.5449 0.2154 262.741);
  --info-separator: oklch(0.9223 0.0344 259.935);

  --success: oklch(0.5136 0.1251 150.528);
  --success-background: oklch(0.9753 0.01 174.285);
  --success-foreground: oklch(0.505 0.1082 163.08);
  --success-separator: oklch(0.9086 0.0443 164.642);

  --warning: oklch(0.5726 0.1376 57.638);
  --warning-background: oklch(0.9798 0.0152 88.885);
  --warning-foreground: oklch(0.5581 0.1328 58.15);
  --warning-separator: oklch(0.9275 0.0593 89.014);

  --destructive: oklch(0.6368 0.2078 25.326);
  --destructive-background: oklch(0.9687 0.0142 21.078);
  --destructive-foreground: oklch(0.5643 0.2107 27.353);
  --destructive-separator: oklch(0.8941 0.0531 20.51);

  --sidebar-background: oklch(0.9886 0 0);
  --sidebar-foreground: oklch(0.3812 0 0);
  --sidebar-primary: oklch(0.2156 0 0);
  --sidebar-primary-foreground: oklch(0.9848 0 0);
  --sidebar-accent: oklch(0.9688 0 0);
  --sidebar-accent-foreground: oklch(0.2156 0 0);
  --sidebar-border: oklch(0.9312 0 0);
  --sidebar-ring: oklch(0.6813 0 0);

  --code-background: oklch(0.9772 0 0);

  --table-header: oklch(0.981 0 0);
  --table-cell: oklch(0.9962 0 0);
  --table-cell-hover: oklch(0.981 0 0);
  --table-cell-active: oklch(0.9696 0 0);
}

.dark {
  --background: oklch(0.0918 0 0);
  --foreground: oklch(0.9848 0 0);
  --card: oklch(0.1457 0 0);
  --card-foreground: oklch(0.9848 0 0);
  --popover: oklch(0.1698 0 0);
  --popover-foreground: oklch(0.9848 0 0);
  --primary: oklch(0.9848 0 0);
  --primary-foreground: oklch(0.2044 0 0);
  --secondary: oklch(0.2686 0 0);
  --secondary-foreground: oklch(0.9848 0 0);
  --muted: oklch(0.2686 0 0);
  --muted-foreground: oklch(0.683 0 0);
  --accent: oklch(0.2801 0 0);
  --accent-foreground: oklch(0.9848 0 0);

  --border: oklch(0.2376 0 0);
  --input: oklch(0.2905 0 0);
  --ring: oklch(0.8697 0 0);

  --info-background: oklch(0.2033 0.0277 261.042);
  --info: oklch(0.696 0.1538 262.937);
  --info-foreground: oklch(0.696 0.1538 262.937);
  --info-separator: oklch(0.2521 0.0455 259.563);

  --success: oklch(0.7555 0.2045 148.931);
  --success-background: oklch(0.2063 0.0209 163.748);
  --success-foreground: oklch(0.7704 0.1507 163.436);
  --success-separator: oklch(0.2671 0.0397 162.567);

  --warning: oklch(0.8408 0.1725 84.201);
  --warning-background: oklch(0.2258 0.0261 90.2);
  --warning-foreground: oklch(0.8334 0.1641 83.867);
  --warning-separator: oklch(0.3011 0.0471 87.654);

  --destructive: oklch(0.5656 0.1949 26.073);
  --destructive-background: oklch(0.2042 0.0282 24.261);
  --destructive-foreground: oklch(0.7122 0.1673 22.25);
  --destructive-separator: oklch(0.2508 0.0523 23.548);

  --sidebar-background: oklch(0 0 0);
  --sidebar-foreground: oklch(0.7244 0 0);
  --sidebar-primary: oklch(0.5809 0 0);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.2256 0 0);
  --sidebar-accent-foreground: oklch(0.9688 0 0);
  --sidebar-border: oklch(0.2791 0 0);
  --sidebar-ring: oklch(0.6813 0 0);

  --code-background: oklch(0.1698 0 0);

  --table-header: oklch(0.193 0 0);
  --table-cell: oklch(0.1324 0 0);
  --table-cell-hover: oklch(0.1698 0 0);
  --table-cell-active: oklch(0.1815 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    margin: 0;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply bg-background text-foreground;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  :disabled {
    cursor: default;
  }

  /* Hide native time dropdown UI */
  input[type='time']::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }

  input[type='time']::-webkit-clear-button,
  input[type='time']::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
  }

  /* Firefox support */
  input[type='time'] {
    -moz-appearance: textfield;
  }
}

@utility scrollbar-sm {
  @apply scrollbar-thin scrollbar-thumb-neutral-300 scrollbar-track-background dark:scrollbar-thumb-neutral-700;
}

@property --scroll-fade-offset-y-top {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 0%;
}

@property --scroll-fade-offset-y-bottom {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 100%;
}

@property --scroll-fade-offset-x-left {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 0%;
}

@property --scroll-fade-offset-x-right {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 100%;
}

.scroll-fade {
  --mask-offset: 20%;
  --scroll-fade-offset-y-top: 0%;
  --scroll-fade-offset-y-bottom: 100%;
  --scroll-fade-mask: linear-gradient(
    to bottom,
    transparent,
    black min(var(--scroll-fade-offset-y-top), var(--mask-offset)),
    black calc(100% - min(var(--scroll-fade-offset-y-bottom), var(--mask-offset))),
    transparent
  );
  animation: animate-scroll-fade-mask 1ms linear both;
  animation-timeline: scroll(self y);
  mask-image: var(--scroll-fade-mask);
  -webkit-mask-image: var(--scroll-fade-mask);
}

.scroll-fade-horizontal {
  --mask-offset: 20%;
  --scroll-fade-offset-x-left: 0%;
  --scroll-fade-offset-x-right: 100%;
  --scroll-fade-mask: linear-gradient(
    to right,
    transparent,
    black min(var(--scroll-fade-offset-x-left), var(--mask-offset)),
    black calc(100% - min(var(--scroll-fade-offset-x-right), var(--mask-offset))),
    transparent
  );
  animation: animate-scroll-fade-mask-horizontal 1ms linear both;
  animation-timeline: scroll(self x);
  mask-image: var(--scroll-fade-mask);
  -webkit-mask-image: var(--scroll-fade-mask);
}

@keyframes animate-scroll-fade-mask {
  0% {
    --scroll-fade-offset-y-top: 0%;
    --scroll-fade-offset-y-bottom: 100%;
  }

  100% {
    --scroll-fade-offset-y-top: 100%;
    --scroll-fade-offset-y-bottom: 0%;
  }
}

@keyframes animate-scroll-fade-mask-horizontal {
  0% {
    --scroll-fade-offset-x-left: 0%;
    --scroll-fade-offset-x-right: 100%;
  }

  100% {
    --scroll-fade-offset-x-left: 100%;
    --scroll-fade-offset-x-right: 0%;
  }
}

@keyframes skeleton-shimmer {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(250%);
  }
}

::selection {
  @apply bg-primary text-primary-foreground;
}

.animate-shimmer-text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: color-mix(in oklab, var(--muted-foreground) 50%, transparent);
  background-image: linear-gradient(
    90deg,
    color-mix(in oklab, var(--muted-foreground) 50%, transparent),
    var(--foreground),
    color-mix(in oklab, var(--muted-foreground) 50%, transparent)
  );
  animation: shimmer-text 1.5s infinite;
  background-repeat: no-repeat;
  background-size: 50% 200%;
  transition: all 0.25s;
}

@keyframes shimmer-text {
  0% {
    background-position: -100% top;
  }
  50% {
    background-position: 200% top;
  }
  100% {
    transition: all 0.25s;
    background-color: var(--foreground);
    background-position: 200% top;
  }
}
