.dropdownMenuTrigger {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  gap: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;

  background-color: var(--block-bg-color);
  color: var(--foreground-color);

  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 500;
  user-select: none;

  &:focus,
  &:hover,
  &[data-state='open'] {
    background-color: var(--cta-surface-neutral-primary);
  }
  cursor: pointer;
}

.dropdownMenuContent {
  position: relative;
  z-index: 50;
  min-width: 8rem;
  max-height: var(--radix-dropdownMenucontent-available-height);
  padding: 0.25rem;
  overflow: hidden auto;
  transform-origin: var(--radix-dropdownMenucontent-transform-origin);
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  border: 1px solid var(--border-color);
  border-radius: 0.375rem;
  background-color: var(--block-bg-color);
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  color: var(--text-color);

  &[data-side='bottom'] {
    animation-name: slideUpAndFade;
  }

  .dropdownMenuItem {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.5rem;
    border-radius: 0.25rem;
    outline: none;
    font-size: 0.875rem;
    line-height: 1rem;
    cursor: pointer;
    user-select: none;
    gap: 0.5rem;
    color: var(--foreground-color);

    & > svg {
      flex-shrink: 0;
      width: 14px;
      height: 14px;
      pointer-events: none;
    }

    &:focus {
      background-color: var(--cta-surface-neutral-primary);
    }

    & > svg:last-child {
      margin-left: auto;
      opacity: 0.5;
    }
  }
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
