=begin
#Daytona Analytics API

#Daytona Analytics API - Read-only telemetry and usage data. Authenticated via Daytona API keys or JWT tokens.

The version of the OpenAPI document: v0.4.0

Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module DaytonaAnalyticsApiClient
  class TelemetryApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get sandbox logs
    # Returns paginated log entries with optional severity and search filters
    # @param organization_id [String] Organization ID
    # @param sandbox_id [String] Sandbox ID
    # @param from [String] Start time (RFC3339)
    # @param to [String] End time (RFC3339)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :severity Comma-separated severity levels
    # @option opts [String] :search Search text (ILIKE)
    # @option opts [Integer] :limit Page size (default to 100)
    # @option opts [Integer] :offset Offset (default to 0)
    # @return [Array<ModelsLogEntry>]
    def organization_organization_id_sandbox_sandbox_id_telemetry_logs_get(organization_id, sandbox_id, from, to, opts = {})
      data, _status_code, _headers = organization_organization_id_sandbox_sandbox_id_telemetry_logs_get_with_http_info(organization_id, sandbox_id, from, to, opts)
      data
    end

    # Get sandbox logs
    # Returns paginated log entries with optional severity and search filters
    # @param organization_id [String] Organization ID
    # @param sandbox_id [String] Sandbox ID
    # @param from [String] Start time (RFC3339)
    # @param to [String] End time (RFC3339)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :severity Comma-separated severity levels
    # @option opts [String] :search Search text (ILIKE)
    # @option opts [Integer] :limit Page size (default to 100)
    # @option opts [Integer] :offset Offset (default to 0)
    # @return [Array<(Array<ModelsLogEntry>, Integer, Hash)>] Array<ModelsLogEntry> data, response status code and response headers
    def organization_organization_id_sandbox_sandbox_id_telemetry_logs_get_with_http_info(organization_id, sandbox_id, from, to, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TelemetryApi.organization_organization_id_sandbox_sandbox_id_telemetry_logs_get ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling TelemetryApi.organization_organization_id_sandbox_sandbox_id_telemetry_logs_get"
      end
      # verify the required parameter 'sandbox_id' is set
      if @api_client.config.client_side_validation && sandbox_id.nil?
        fail ArgumentError, "Missing the required parameter 'sandbox_id' when calling TelemetryApi.organization_organization_id_sandbox_sandbox_id_telemetry_logs_get"
      end
      # verify the required parameter 'from' is set
      if @api_client.config.client_side_validation && from.nil?
        fail ArgumentError, "Missing the required parameter 'from' when calling TelemetryApi.organization_organization_id_sandbox_sandbox_id_telemetry_logs_get"
      end
      # verify the required parameter 'to' is set
      if @api_client.config.client_side_validation && to.nil?
        fail ArgumentError, "Missing the required parameter 'to' when calling TelemetryApi.organization_organization_id_sandbox_sandbox_id_telemetry_logs_get"
      end
      # resource path
      local_var_path = '/organization/{organizationId}/sandbox/{sandboxId}/telemetry/logs'.sub('{' + 'organizationId' + '}', CGI.escape(organization_id.to_s)).sub('{' + 'sandboxId' + '}', CGI.escape(sandbox_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'from'] = from
      query_params[:'to'] = to
      query_params[:'severity'] = opts[:'severity'] if !opts[:'severity'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ModelsLogEntry>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"TelemetryApi.organization_organization_id_sandbox_sandbox_id_telemetry_logs_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TelemetryApi#organization_organization_id_sandbox_sandbox_id_telemetry_logs_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get sandbox metrics
    # Returns gauge metrics aggregated in 1-minute intervals
    # @param organization_id [String] Organization ID
    # @param sandbox_id [String] Sandbox ID
    # @param from [String] Start time (RFC3339)
    # @param to [String] End time (RFC3339)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :metric_names Comma-separated metric names
    # @return [Array<ModelsMetricPoint>]
    def organization_organization_id_sandbox_sandbox_id_telemetry_metrics_get(organization_id, sandbox_id, from, to, opts = {})
      data, _status_code, _headers = organization_organization_id_sandbox_sandbox_id_telemetry_metrics_get_with_http_info(organization_id, sandbox_id, from, to, opts)
      data
    end

    # Get sandbox metrics
    # Returns gauge metrics aggregated in 1-minute intervals
    # @param organization_id [String] Organization ID
    # @param sandbox_id [String] Sandbox ID
    # @param from [String] Start time (RFC3339)
    # @param to [String] End time (RFC3339)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :metric_names Comma-separated metric names
    # @return [Array<(Array<ModelsMetricPoint>, Integer, Hash)>] Array<ModelsMetricPoint> data, response status code and response headers
    def organization_organization_id_sandbox_sandbox_id_telemetry_metrics_get_with_http_info(organization_id, sandbox_id, from, to, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TelemetryApi.organization_organization_id_sandbox_sandbox_id_telemetry_metrics_get ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling TelemetryApi.organization_organization_id_sandbox_sandbox_id_telemetry_metrics_get"
      end
      # verify the required parameter 'sandbox_id' is set
      if @api_client.config.client_side_validation && sandbox_id.nil?
        fail ArgumentError, "Missing the required parameter 'sandbox_id' when calling TelemetryApi.organization_organization_id_sandbox_sandbox_id_telemetry_metrics_get"
      end
      # verify the required parameter 'from' is set
      if @api_client.config.client_side_validation && from.nil?
        fail ArgumentError, "Missing the required parameter 'from' when calling TelemetryApi.organization_organization_id_sandbox_sandbox_id_telemetry_metrics_get"
      end
      # verify the required parameter 'to' is set
      if @api_client.config.client_side_validation && to.nil?
        fail ArgumentError, "Missing the required parameter 'to' when calling TelemetryApi.organization_organization_id_sandbox_sandbox_id_telemetry_metrics_get"
      end
      # resource path
      local_var_path = '/organization/{organizationId}/sandbox/{sandboxId}/telemetry/metrics'.sub('{' + 'organizationId' + '}', CGI.escape(organization_id.to_s)).sub('{' + 'sandboxId' + '}', CGI.escape(sandbox_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'from'] = from
      query_params[:'to'] = to
      query_params[:'metricNames'] = opts[:'metric_names'] if !opts[:'metric_names'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ModelsMetricPoint>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"TelemetryApi.organization_organization_id_sandbox_sandbox_id_telemetry_metrics_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TelemetryApi#organization_organization_id_sandbox_sandbox_id_telemetry_metrics_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get sandbox traces
    # Returns paginated trace summaries with span counts and root span info
    # @param organization_id [String] Organization ID
    # @param sandbox_id [String] Sandbox ID
    # @param from [String] Start time (RFC3339)
    # @param to [String] End time (RFC3339)
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Page size (default to 100)
    # @option opts [Integer] :offset Offset (default to 0)
    # @return [Array<ModelsTraceSummary>]
    def organization_organization_id_sandbox_sandbox_id_telemetry_traces_get(organization_id, sandbox_id, from, to, opts = {})
      data, _status_code, _headers = organization_organization_id_sandbox_sandbox_id_telemetry_traces_get_with_http_info(organization_id, sandbox_id, from, to, opts)
      data
    end

    # Get sandbox traces
    # Returns paginated trace summaries with span counts and root span info
    # @param organization_id [String] Organization ID
    # @param sandbox_id [String] Sandbox ID
    # @param from [String] Start time (RFC3339)
    # @param to [String] End time (RFC3339)
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Page size (default to 100)
    # @option opts [Integer] :offset Offset (default to 0)
    # @return [Array<(Array<ModelsTraceSummary>, Integer, Hash)>] Array<ModelsTraceSummary> data, response status code and response headers
    def organization_organization_id_sandbox_sandbox_id_telemetry_traces_get_with_http_info(organization_id, sandbox_id, from, to, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TelemetryApi.organization_organization_id_sandbox_sandbox_id_telemetry_traces_get ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling TelemetryApi.organization_organization_id_sandbox_sandbox_id_telemetry_traces_get"
      end
      # verify the required parameter 'sandbox_id' is set
      if @api_client.config.client_side_validation && sandbox_id.nil?
        fail ArgumentError, "Missing the required parameter 'sandbox_id' when calling TelemetryApi.organization_organization_id_sandbox_sandbox_id_telemetry_traces_get"
      end
      # verify the required parameter 'from' is set
      if @api_client.config.client_side_validation && from.nil?
        fail ArgumentError, "Missing the required parameter 'from' when calling TelemetryApi.organization_organization_id_sandbox_sandbox_id_telemetry_traces_get"
      end
      # verify the required parameter 'to' is set
      if @api_client.config.client_side_validation && to.nil?
        fail ArgumentError, "Missing the required parameter 'to' when calling TelemetryApi.organization_organization_id_sandbox_sandbox_id_telemetry_traces_get"
      end
      # resource path
      local_var_path = '/organization/{organizationId}/sandbox/{sandboxId}/telemetry/traces'.sub('{' + 'organizationId' + '}', CGI.escape(organization_id.to_s)).sub('{' + 'sandboxId' + '}', CGI.escape(sandbox_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'from'] = from
      query_params[:'to'] = to
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ModelsTraceSummary>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"TelemetryApi.organization_organization_id_sandbox_sandbox_id_telemetry_traces_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TelemetryApi#organization_organization_id_sandbox_sandbox_id_telemetry_traces_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get trace spans
    # Returns all spans belonging to a specific trace ID
    # @param organization_id [String] Organization ID
    # @param sandbox_id [String] Sandbox ID
    # @param trace_id [String] Trace ID
    # @param [Hash] opts the optional parameters
    # @return [Array<ModelsSpan>]
    def organization_organization_id_sandbox_sandbox_id_telemetry_traces_trace_id_get(organization_id, sandbox_id, trace_id, opts = {})
      data, _status_code, _headers = organization_organization_id_sandbox_sandbox_id_telemetry_traces_trace_id_get_with_http_info(organization_id, sandbox_id, trace_id, opts)
      data
    end

    # Get trace spans
    # Returns all spans belonging to a specific trace ID
    # @param organization_id [String] Organization ID
    # @param sandbox_id [String] Sandbox ID
    # @param trace_id [String] Trace ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<ModelsSpan>, Integer, Hash)>] Array<ModelsSpan> data, response status code and response headers
    def organization_organization_id_sandbox_sandbox_id_telemetry_traces_trace_id_get_with_http_info(organization_id, sandbox_id, trace_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TelemetryApi.organization_organization_id_sandbox_sandbox_id_telemetry_traces_trace_id_get ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling TelemetryApi.organization_organization_id_sandbox_sandbox_id_telemetry_traces_trace_id_get"
      end
      # verify the required parameter 'sandbox_id' is set
      if @api_client.config.client_side_validation && sandbox_id.nil?
        fail ArgumentError, "Missing the required parameter 'sandbox_id' when calling TelemetryApi.organization_organization_id_sandbox_sandbox_id_telemetry_traces_trace_id_get"
      end
      # verify the required parameter 'trace_id' is set
      if @api_client.config.client_side_validation && trace_id.nil?
        fail ArgumentError, "Missing the required parameter 'trace_id' when calling TelemetryApi.organization_organization_id_sandbox_sandbox_id_telemetry_traces_trace_id_get"
      end
      # resource path
      local_var_path = '/organization/{organizationId}/sandbox/{sandboxId}/telemetry/traces/{traceId}'.sub('{' + 'organizationId' + '}', CGI.escape(organization_id.to_s)).sub('{' + 'sandboxId' + '}', CGI.escape(sandbox_id.to_s)).sub('{' + 'traceId' + '}', CGI.escape(trace_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ModelsSpan>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"TelemetryApi.organization_organization_id_sandbox_sandbox_id_telemetry_traces_trace_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TelemetryApi#organization_organization_id_sandbox_sandbox_id_telemetry_traces_trace_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
