=begin
#Daytona Analytics API

#Daytona Analytics API - Read-only telemetry and usage data. Authenticated via Daytona API keys or JWT tokens.

The version of the OpenAPI document: v0.4.0

Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module DaytonaAnalyticsApiClient
  class UsageApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get sandbox usage periods
    # Returns individual usage records for a specific sandbox within a time range
    # @param organization_id [String] Organization ID
    # @param sandbox_id [String] Sandbox ID
    # @param from [String] Start time (RFC3339)
    # @param to [String] End time (RFC3339)
    # @param [Hash] opts the optional parameters
    # @return [Array<ModelsUsagePeriod>]
    def organization_organization_id_sandbox_sandbox_id_usage_get(organization_id, sandbox_id, from, to, opts = {})
      data, _status_code, _headers = organization_organization_id_sandbox_sandbox_id_usage_get_with_http_info(organization_id, sandbox_id, from, to, opts)
      data
    end

    # Get sandbox usage periods
    # Returns individual usage records for a specific sandbox within a time range
    # @param organization_id [String] Organization ID
    # @param sandbox_id [String] Sandbox ID
    # @param from [String] Start time (RFC3339)
    # @param to [String] End time (RFC3339)
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<ModelsUsagePeriod>, Integer, Hash)>] Array<ModelsUsagePeriod> data, response status code and response headers
    def organization_organization_id_sandbox_sandbox_id_usage_get_with_http_info(organization_id, sandbox_id, from, to, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsageApi.organization_organization_id_sandbox_sandbox_id_usage_get ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling UsageApi.organization_organization_id_sandbox_sandbox_id_usage_get"
      end
      # verify the required parameter 'sandbox_id' is set
      if @api_client.config.client_side_validation && sandbox_id.nil?
        fail ArgumentError, "Missing the required parameter 'sandbox_id' when calling UsageApi.organization_organization_id_sandbox_sandbox_id_usage_get"
      end
      # verify the required parameter 'from' is set
      if @api_client.config.client_side_validation && from.nil?
        fail ArgumentError, "Missing the required parameter 'from' when calling UsageApi.organization_organization_id_sandbox_sandbox_id_usage_get"
      end
      # verify the required parameter 'to' is set
      if @api_client.config.client_side_validation && to.nil?
        fail ArgumentError, "Missing the required parameter 'to' when calling UsageApi.organization_organization_id_sandbox_sandbox_id_usage_get"
      end
      # resource path
      local_var_path = '/organization/{organizationId}/sandbox/{sandboxId}/usage'.sub('{' + 'organizationId' + '}', CGI.escape(organization_id.to_s)).sub('{' + 'sandboxId' + '}', CGI.escape(sandbox_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'from'] = from
      query_params[:'to'] = to

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ModelsUsagePeriod>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"UsageApi.organization_organization_id_sandbox_sandbox_id_usage_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsageApi#organization_organization_id_sandbox_sandbox_id_usage_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get aggregated usage
    # Returns organization-level resource usage totals for a given time period
    # @param organization_id [String] Organization ID
    # @param from [String] Start time (RFC3339)
    # @param to [String] End time (RFC3339)
    # @param [Hash] opts the optional parameters
    # @return [ModelsAggregatedUsage]
    def organization_organization_id_usage_aggregated_get(organization_id, from, to, opts = {})
      data, _status_code, _headers = organization_organization_id_usage_aggregated_get_with_http_info(organization_id, from, to, opts)
      data
    end

    # Get aggregated usage
    # Returns organization-level resource usage totals for a given time period
    # @param organization_id [String] Organization ID
    # @param from [String] Start time (RFC3339)
    # @param to [String] End time (RFC3339)
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelsAggregatedUsage, Integer, Hash)>] ModelsAggregatedUsage data, response status code and response headers
    def organization_organization_id_usage_aggregated_get_with_http_info(organization_id, from, to, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsageApi.organization_organization_id_usage_aggregated_get ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling UsageApi.organization_organization_id_usage_aggregated_get"
      end
      # verify the required parameter 'from' is set
      if @api_client.config.client_side_validation && from.nil?
        fail ArgumentError, "Missing the required parameter 'from' when calling UsageApi.organization_organization_id_usage_aggregated_get"
      end
      # verify the required parameter 'to' is set
      if @api_client.config.client_side_validation && to.nil?
        fail ArgumentError, "Missing the required parameter 'to' when calling UsageApi.organization_organization_id_usage_aggregated_get"
      end
      # resource path
      local_var_path = '/organization/{organizationId}/usage/aggregated'.sub('{' + 'organizationId' + '}', CGI.escape(organization_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'from'] = from
      query_params[:'to'] = to

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ModelsAggregatedUsage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"UsageApi.organization_organization_id_usage_aggregated_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsageApi#organization_organization_id_usage_aggregated_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get usage chart data
    # Returns resource usage data points for a given time period with auto-scaled resolution
    # @param organization_id [String] Organization ID
    # @param from [String] Start time (RFC3339)
    # @param to [String] End time (RFC3339)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region Region filter
    # @return [Array<ModelsUsageChartPoint>]
    def organization_organization_id_usage_chart_get(organization_id, from, to, opts = {})
      data, _status_code, _headers = organization_organization_id_usage_chart_get_with_http_info(organization_id, from, to, opts)
      data
    end

    # Get usage chart data
    # Returns resource usage data points for a given time period with auto-scaled resolution
    # @param organization_id [String] Organization ID
    # @param from [String] Start time (RFC3339)
    # @param to [String] End time (RFC3339)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region Region filter
    # @return [Array<(Array<ModelsUsageChartPoint>, Integer, Hash)>] Array<ModelsUsageChartPoint> data, response status code and response headers
    def organization_organization_id_usage_chart_get_with_http_info(organization_id, from, to, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsageApi.organization_organization_id_usage_chart_get ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling UsageApi.organization_organization_id_usage_chart_get"
      end
      # verify the required parameter 'from' is set
      if @api_client.config.client_side_validation && from.nil?
        fail ArgumentError, "Missing the required parameter 'from' when calling UsageApi.organization_organization_id_usage_chart_get"
      end
      # verify the required parameter 'to' is set
      if @api_client.config.client_side_validation && to.nil?
        fail ArgumentError, "Missing the required parameter 'to' when calling UsageApi.organization_organization_id_usage_chart_get"
      end
      # resource path
      local_var_path = '/organization/{organizationId}/usage/chart'.sub('{' + 'organizationId' + '}', CGI.escape(organization_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'from'] = from
      query_params[:'to'] = to
      query_params[:'region'] = opts[:'region'] if !opts[:'region'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ModelsUsageChartPoint>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"UsageApi.organization_organization_id_usage_chart_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsageApi#organization_organization_id_usage_chart_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get per-sandbox usage
    # Returns resource usage aggregated per sandbox for a given time period
    # @param organization_id [String] Organization ID
    # @param from [String] Start time (RFC3339)
    # @param to [String] End time (RFC3339)
    # @param [Hash] opts the optional parameters
    # @return [Array<ModelsSandboxUsage>]
    def organization_organization_id_usage_sandbox_get(organization_id, from, to, opts = {})
      data, _status_code, _headers = organization_organization_id_usage_sandbox_get_with_http_info(organization_id, from, to, opts)
      data
    end

    # Get per-sandbox usage
    # Returns resource usage aggregated per sandbox for a given time period
    # @param organization_id [String] Organization ID
    # @param from [String] Start time (RFC3339)
    # @param to [String] End time (RFC3339)
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<ModelsSandboxUsage>, Integer, Hash)>] Array<ModelsSandboxUsage> data, response status code and response headers
    def organization_organization_id_usage_sandbox_get_with_http_info(organization_id, from, to, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsageApi.organization_organization_id_usage_sandbox_get ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling UsageApi.organization_organization_id_usage_sandbox_get"
      end
      # verify the required parameter 'from' is set
      if @api_client.config.client_side_validation && from.nil?
        fail ArgumentError, "Missing the required parameter 'from' when calling UsageApi.organization_organization_id_usage_sandbox_get"
      end
      # verify the required parameter 'to' is set
      if @api_client.config.client_side_validation && to.nil?
        fail ArgumentError, "Missing the required parameter 'to' when calling UsageApi.organization_organization_id_usage_sandbox_get"
      end
      # resource path
      local_var_path = '/organization/{organizationId}/usage/sandbox'.sub('{' + 'organizationId' + '}', CGI.escape(organization_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'from'] = from
      query_params[:'to'] = to

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ModelsSandboxUsage>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"UsageApi.organization_organization_id_usage_sandbox_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsageApi#organization_organization_id_usage_sandbox_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
