=begin
#Daytona

#Daytona AI platform API Docs

The version of the OpenAPI document: 1.0
Contact: support@daytona.com
Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module DaytonaApiClient
  class SessionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Run code synchronously and return aggregated stdout/stderr/displays.
    # @param session_code_run_request_dto [SessionCodeRunRequestDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_daytona_organization_id Use with JWT to specify the organization ID
    # @return [SessionCodeRunResponseDto]
    def session_controller_code_run(session_code_run_request_dto, opts = {})
      data, _status_code, _headers = session_controller_code_run_with_http_info(session_code_run_request_dto, opts)
      data
    end

    # Run code synchronously and return aggregated stdout/stderr/displays.
    # @param session_code_run_request_dto [SessionCodeRunRequestDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_daytona_organization_id Use with JWT to specify the organization ID
    # @return [Array<(SessionCodeRunResponseDto, Integer, Hash)>] SessionCodeRunResponseDto data, response status code and response headers
    def session_controller_code_run_with_http_info(session_code_run_request_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SessionsApi.session_controller_code_run ...'
      end
      # verify the required parameter 'session_code_run_request_dto' is set
      if @api_client.config.client_side_validation && session_code_run_request_dto.nil?
        fail ArgumentError, "Missing the required parameter 'session_code_run_request_dto' when calling SessionsApi.session_controller_code_run"
      end
      # resource path
      local_var_path = '/sessions/code-run'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Daytona-Organization-ID'] = opts[:'x_daytona_organization_id'] if !opts[:'x_daytona_organization_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(session_code_run_request_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'SessionCodeRunResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer', 'oauth2']

      new_options = opts.merge(
        :operation => :"SessionsApi.session_controller_code_run",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SessionsApi#session_controller_code_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mint a signed WebSocket URL for streaming code execution against a session.
    # @param session_connect_request_dto [SessionConnectRequestDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_daytona_organization_id Use with JWT to specify the organization ID
    # @return [SessionConnectResponseDto]
    def session_controller_connect(session_connect_request_dto, opts = {})
      data, _status_code, _headers = session_controller_connect_with_http_info(session_connect_request_dto, opts)
      data
    end

    # Mint a signed WebSocket URL for streaming code execution against a session.
    # @param session_connect_request_dto [SessionConnectRequestDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_daytona_organization_id Use with JWT to specify the organization ID
    # @return [Array<(SessionConnectResponseDto, Integer, Hash)>] SessionConnectResponseDto data, response status code and response headers
    def session_controller_connect_with_http_info(session_connect_request_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SessionsApi.session_controller_connect ...'
      end
      # verify the required parameter 'session_connect_request_dto' is set
      if @api_client.config.client_side_validation && session_connect_request_dto.nil?
        fail ArgumentError, "Missing the required parameter 'session_connect_request_dto' when calling SessionsApi.session_controller_connect"
      end
      # resource path
      local_var_path = '/sessions/connect'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Daytona-Organization-ID'] = opts[:'x_daytona_organization_id'] if !opts[:'x_daytona_organization_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(session_connect_request_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'SessionConnectResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer', 'oauth2']

      new_options = opts.merge(
        :operation => :"SessionsApi.session_controller_connect",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SessionsApi#session_controller_connect\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a persistent execution session.
    # @param create_session_dto [CreateSessionDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_daytona_organization_id Use with JWT to specify the organization ID
    # @return [SessionDto]
    def session_controller_create_session(create_session_dto, opts = {})
      data, _status_code, _headers = session_controller_create_session_with_http_info(create_session_dto, opts)
      data
    end

    # Create a persistent execution session.
    # @param create_session_dto [CreateSessionDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_daytona_organization_id Use with JWT to specify the organization ID
    # @return [Array<(SessionDto, Integer, Hash)>] SessionDto data, response status code and response headers
    def session_controller_create_session_with_http_info(create_session_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SessionsApi.session_controller_create_session ...'
      end
      # verify the required parameter 'create_session_dto' is set
      if @api_client.config.client_side_validation && create_session_dto.nil?
        fail ArgumentError, "Missing the required parameter 'create_session_dto' when calling SessionsApi.session_controller_create_session"
      end
      # resource path
      local_var_path = '/sessions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Daytona-Organization-ID'] = opts[:'x_daytona_organization_id'] if !opts[:'x_daytona_organization_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_session_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'SessionDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer', 'oauth2']

      new_options = opts.merge(
        :operation => :"SessionsApi.session_controller_create_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SessionsApi#session_controller_create_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mint a deterministic one-shot session handle with a direct-to-sandbox access bundle.
    # Returns the SDK a stable (template, language) transient session bound to a warm-pool sandbox so subsequent run() calls bypass the API on the hot path. Idempotent — the same (template, language) pair returns the same daemon-side session until the warm instance is recycled.
    # @param create_session_transient_dto [CreateSessionTransientDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_daytona_organization_id Use with JWT to specify the organization ID
    # @return [SessionDto]
    def session_controller_create_transient(create_session_transient_dto, opts = {})
      data, _status_code, _headers = session_controller_create_transient_with_http_info(create_session_transient_dto, opts)
      data
    end

    # Mint a deterministic one-shot session handle with a direct-to-sandbox access bundle.
    # Returns the SDK a stable (template, language) transient session bound to a warm-pool sandbox so subsequent run() calls bypass the API on the hot path. Idempotent — the same (template, language) pair returns the same daemon-side session until the warm instance is recycled.
    # @param create_session_transient_dto [CreateSessionTransientDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_daytona_organization_id Use with JWT to specify the organization ID
    # @return [Array<(SessionDto, Integer, Hash)>] SessionDto data, response status code and response headers
    def session_controller_create_transient_with_http_info(create_session_transient_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SessionsApi.session_controller_create_transient ...'
      end
      # verify the required parameter 'create_session_transient_dto' is set
      if @api_client.config.client_side_validation && create_session_transient_dto.nil?
        fail ArgumentError, "Missing the required parameter 'create_session_transient_dto' when calling SessionsApi.session_controller_create_transient"
      end
      # resource path
      local_var_path = '/sessions/transients'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Daytona-Organization-ID'] = opts[:'x_daytona_organization_id'] if !opts[:'x_daytona_organization_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_session_transient_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'SessionDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer', 'oauth2']

      new_options = opts.merge(
        :operation => :"SessionsApi.session_controller_create_transient",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SessionsApi#session_controller_create_transient\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a session.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_daytona_organization_id Use with JWT to specify the organization ID
    # @return [nil]
    def session_controller_delete_session(id, opts = {})
      session_controller_delete_session_with_http_info(id, opts)
      nil
    end

    # Delete a session.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_daytona_organization_id Use with JWT to specify the organization ID
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def session_controller_delete_session_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SessionsApi.session_controller_delete_session ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SessionsApi.session_controller_delete_session"
      end
      # resource path
      local_var_path = '/sessions/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'X-Daytona-Organization-ID'] = opts[:'x_daytona_organization_id'] if !opts[:'x_daytona_organization_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer', 'oauth2']

      new_options = opts.merge(
        :operation => :"SessionsApi.session_controller_delete_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SessionsApi#session_controller_delete_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mint or refresh the SDK direct-to-sandbox access bundle for a session.
    # Used by the SDK to refresh the short-lived signed proxy URL before it expires. Also bumps the session's lastUsedAt as a keep-alive.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_daytona_organization_id Use with JWT to specify the organization ID
    # @return [SessionAccessDto]
    def session_controller_get_session_access(id, opts = {})
      data, _status_code, _headers = session_controller_get_session_access_with_http_info(id, opts)
      data
    end

    # Mint or refresh the SDK direct-to-sandbox access bundle for a session.
    # Used by the SDK to refresh the short-lived signed proxy URL before it expires. Also bumps the session&#39;s lastUsedAt as a keep-alive.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_daytona_organization_id Use with JWT to specify the organization ID
    # @return [Array<(SessionAccessDto, Integer, Hash)>] SessionAccessDto data, response status code and response headers
    def session_controller_get_session_access_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SessionsApi.session_controller_get_session_access ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SessionsApi.session_controller_get_session_access"
      end
      # resource path
      local_var_path = '/sessions/{id}/access'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Daytona-Organization-ID'] = opts[:'x_daytona_organization_id'] if !opts[:'x_daytona_organization_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SessionAccessDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer', 'oauth2']

      new_options = opts.merge(
        :operation => :"SessionsApi.session_controller_get_session_access",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SessionsApi#session_controller_get_session_access\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List preinstalled packages for a template.
    # @param name [String] 
    # @param language [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_daytona_organization_id Use with JWT to specify the organization ID
    # @return [Array<SessionPackageDto>]
    def session_controller_list_packages(name, language, opts = {})
      data, _status_code, _headers = session_controller_list_packages_with_http_info(name, language, opts)
      data
    end

    # List preinstalled packages for a template.
    # @param name [String] 
    # @param language [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_daytona_organization_id Use with JWT to specify the organization ID
    # @return [Array<(Array<SessionPackageDto>, Integer, Hash)>] Array<SessionPackageDto> data, response status code and response headers
    def session_controller_list_packages_with_http_info(name, language, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SessionsApi.session_controller_list_packages ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling SessionsApi.session_controller_list_packages"
      end
      # verify the required parameter 'language' is set
      if @api_client.config.client_side_validation && language.nil?
        fail ArgumentError, "Missing the required parameter 'language' when calling SessionsApi.session_controller_list_packages"
      end
      # resource path
      local_var_path = '/sessions/templates/{name}/packages'.sub('{' + 'name' + '}', CGI.escape(name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'language'] = language

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Daytona-Organization-ID'] = opts[:'x_daytona_organization_id'] if !opts[:'x_daytona_organization_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<SessionPackageDto>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer', 'oauth2']

      new_options = opts.merge(
        :operation => :"SessionsApi.session_controller_list_packages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SessionsApi#session_controller_list_packages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List active sessions in the current organization.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_daytona_organization_id Use with JWT to specify the organization ID
    # @option opts [String] :template 
    # @return [Array<SessionDto>]
    def session_controller_list_sessions(opts = {})
      data, _status_code, _headers = session_controller_list_sessions_with_http_info(opts)
      data
    end

    # List active sessions in the current organization.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_daytona_organization_id Use with JWT to specify the organization ID
    # @option opts [String] :template 
    # @return [Array<(Array<SessionDto>, Integer, Hash)>] Array<SessionDto> data, response status code and response headers
    def session_controller_list_sessions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SessionsApi.session_controller_list_sessions ...'
      end
      # resource path
      local_var_path = '/sessions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'template'] = opts[:'template'] if !opts[:'template'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Daytona-Organization-ID'] = opts[:'x_daytona_organization_id'] if !opts[:'x_daytona_organization_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<SessionDto>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer', 'oauth2']

      new_options = opts.merge(
        :operation => :"SessionsApi.session_controller_list_sessions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SessionsApi#session_controller_list_sessions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List available session templates for the current organization.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_daytona_organization_id Use with JWT to specify the organization ID
    # @return [Array<SessionTemplateDto>]
    def session_controller_list_templates(opts = {})
      data, _status_code, _headers = session_controller_list_templates_with_http_info(opts)
      data
    end

    # List available session templates for the current organization.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_daytona_organization_id Use with JWT to specify the organization ID
    # @return [Array<(Array<SessionTemplateDto>, Integer, Hash)>] Array<SessionTemplateDto> data, response status code and response headers
    def session_controller_list_templates_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SessionsApi.session_controller_list_templates ...'
      end
      # resource path
      local_var_path = '/sessions/templates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Daytona-Organization-ID'] = opts[:'x_daytona_organization_id'] if !opts[:'x_daytona_organization_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<SessionTemplateDto>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer', 'oauth2']

      new_options = opts.merge(
        :operation => :"SessionsApi.session_controller_list_templates",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SessionsApi#session_controller_list_templates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
